<link href="views/pageViews/spacing/spacing.css" type="text/css" rel="stylesheet">

<div class="leftPanel" id="scrollDiv">
    <h2>left panel</h2>
    <div class="explorer">
        <div class="row" id="first" onclick="bringToView('last')">click me</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row" id="middle" onclick="bringToView('first')">click me</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row" id="last" onclick="bringToView('middle')">click me</div>
    </div>
</div>
<div class="workWindow">
    <div class="window">
        <div class='search'>
            <input placeholder="search">
        </div>
        <div class="workArea">
            <h1>Work Area</h1>
            <div class="scrollArea">
                <div class="row" id='tFirst'>found me</div>
                <div class="row">row</div>
                <div class="row">row</div>
                <div class="row">row</div>
                <div class="row" id='tMiddle'>found me</div>
                <div class="row">row</div>
                <div class="row">row</div>
                <div class="row">row</div>
                <div class="row">row</div>
                <div class="row">row</div>
                <div class="row" id='tLast'>found me</div>
            </div>
        </div>
    </div>
</div>

<script src='views/pageViews/spacing/spacing.js'></script>