<link href="views/demoViews/switches/switches.css" rel="stylesheet" type="text/css">
<h1>Css Switches</h1>
<div id="switchesIN">
    <h2>Inside Switches</h2>
    <label class="switch">
      <input type="checkbox">
      <div class="slider"></div>
    </label>

    <label class="switch">
      <input type="checkbox" checked>
      <div class="slider"></div>
    </label><br><br>

    <label class="switch">
      <input type="checkbox">
      <div class="slider round"></div>
    </label>

    <label class="switch">
      <input type="checkbox" checked>
      <div class="slider round"></div>
    </label>
</div>

<div id="switchesOUT">
    <h2>Outside Switches</h2>
    <label class="switch outside">
      <input type="checkbox">
      <div class="slider outside"></div>
    </label>

    <label class="switch outside">
      <input type="checkbox" checked>
      <div class="slider outside"></div>
    </label><br><br>

    <label class="switch outside">
      <input type="checkbox">
      <div class="slider round outside"></div>
    </label>

    <label class="switch outside">
      <input type="checkbox" checked>
      <div class="slider round outside"></div>
    </label>
</div>